<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Mission, My Vision
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">My Mission, My Vision</h1>
            <div>
                <h3 class="h3">
                    The mission and vision that drives our company forward
                </h3>
            </div>
        </div>
    </div>
{% endblock %}